API_URL=http://192.168.0.120:6688/all

# 主Redis配置（使用外部Redis）
REDIS_HOST=192.168.0.100
REDIS_PORT=6379
REDIS_DB=0
REDIS_PASSWORD=your_redis_password

# 第二Redis配置（可选）
ENABLE_REDIS2=false
REDIS2_HOST=192.168.0.101
REDIS2_PORT=6379
REDIS2_DB=0
REDIS2_PASSWORD=your_redis2_password

# TimescaleDB配置（使用外部数据库）
TIMESCALEDB_HOST=192.168.0.102
TIMESCALEDB_PORT=5432
TIMESCALEDB_USER=postgres
TIMESCALEDB_PASSWORD=yourpassword 